@charset "ISO-8859-1";

*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #757575;
    background: #ffffff;
    font-family: 'open sans', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #454545;
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #fbaf32;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #719a0a;
    outline: none;
    text-decoration: none;
}

.btn.custom-btn {
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #fbaf32;
    border: 2px solid #fbaf32;
    border-radius: 5px;
    transition: .5s;
}

.btn.custom-btn:hover {
    color: #fbaf32;
    background: transparent;
}

.btn.custom-btn:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #fbaf32;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #719a0a;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-size: inherit;
    margin-left: 0;
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/

/**new nav**/
.container-fluid{
	float:left;
	margin-left:1000px;
}

 .navbar-brand{
	margin-right:300px;
}
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    
    color: #fbaf32;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    transition: .5s;
    
}

.navbar .navbar-brand span {
    color: #719a0a;
}

.navbar .navbar-brand:hover {
    color: #fbaf32;
}

.navbar .navbar-brand:hover span {
    color: #fbaf32;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #fbaf32;
    }
    
    .navbar.nav-sticky .navbar-brand {
        color: #fbaf32;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        font-family: 'Nunito', sans-serif;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #666666;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #fbaf32;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #fbaf32;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #ffffff !important;
    }
    
    .navbar .navbar-brand {
        color: #fbaf32;
    }
    
    .navbar .navbar-nav {
        margin-top: 15px;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}
/****imgtext**/
 .carousel-text {
    position: relative;
    max-width: 700px;
    height: calc(100vh - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    text-align: center;
    margin-left:400px;
}

 .carousel-text h1 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

 .carousel-text h1 span {
    color: #fbaf32;
}

.carousel-text p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 35px;
}

 .carousel-btn .btn:last-child {
    margin-left: 10px;
    background: #719a0a;
    border-color: #719a0a;
}

.carousel-btn .btn:last-child:hover {
    color: #719a0a;
    background: transparent;
}



/**/
/*******************************/
/********** Menu CSS ***********/
/*******************************/
.food {
    position: relative;
    width: 100%;
    padding: 90px 0 60px 0;
    margin: 45px 0;
    background: rgba(0, 0, 0, .04);
}

.food .food-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 50px 30px 30px;
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .3s;
}

.food .food-item:hover {
    box-shadow: none;
}

.food .food-item i {
    position: relative;
    display: inline-block;
    color: #fbaf32;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    transition: .3s;
}

.food .food-item:hover i {
    color: #719a0a;
}

.food .food-item i::after {
    position: absolute;
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: -20px;
    left: -15px;
    border: 3px dotted #fbaf32;
    border-right: transparent;
    border-bottom: transparent;
    border-radius: 100px;
    transition: .3s;
}

.food .food-item:hover i::after {
    border: 3px dotted #719a0a;
    border-right: transparent;
    border-bottom: transparent;
}

.food .food-item h2 {
    font-size: 30px;
    font-weight: 700;
}

.food .food-item a {
    position: relative;
    font-size: 16px;
}

.food .food-item a::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    bottom: 0;
    left: calc(50% - 25px);
    background: #fbaf32;
    transition: .3s;
}

.food .food-item a:hover::after {
    width: 100%;
    left: 0;
    background: #719a0a;
}


/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0 0 0;
}

.blog .blog-item {
    position: relative;
}

.blog .blog-img {
    position: relative;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
}

.blog .blog-img img {
    width: 100%;
}

.blog .blog-content {
    position: relative;
    width: calc(100% - 60px);
    top: -60px;
    left: 30px;
    padding: 25px 30px 30px 30px;
    background: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    border-radius: 15px;
    z-index: 2;
}

.blog .blog-content h2.blog-title {
    font-size: 22px;
    font-weight: 700;
}

.blog .blog-meta {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.blog .blog-meta p {
    margin: 0 10px 0 0;
    font-size: 14px;
    color: #999999;
}

.blog .blog-meta i {
    color: #fbaf32;
    margin-right: 5px;
}

.blog .blog-meta p:last-child {
    margin: 0;
}

.blog .blog-text {
    position: relative;
}

.blog .blog-text p {
    margin-bottom: 10px;
}

.blog .blog-item a.btn {
    margin-top: 10px;
    padding: 5px 15px;
}

.blog .pagination .page-link {
    color: #fbaf32;
    border-radius: 5px;
    border-color: #fbaf32;
    margin: 0 2px;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: #ffffff;
    background: #fbaf32;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}

@media(max-width: 575.98px){
    .blog .blog-meta p {
        flex: 50%;
        font-size: 13px;
        margin: 0 0 5px 0;
    }
}



/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.contact .contact-information {
    min-height: 150px;
    margin: 0 0 30px 0;
    padding: 30px 15px 0 15px;
    background: rgba(0, 0, 0, .04);
}

.contact .contact-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact .contact-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbaf32;
    border-radius: 50px;
}

.contact .contact-icon i {
    font-size: 18px;
    color: #ffffff;
}

.contact .contact-icon i img{
    width:20px;
    height:30px;
}
.contact .contact-text {
    position: relative;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.contact .contact-text h3 {
    font-size: 18px;
    font-weight: 700;
    color: #719a0a;
}

.contact .contact-text p {
    margin: 0;
    font-size: 16px;
    color: #454545;
}

.contact .contact-social a {
    margin-right: 10px;
    font-size: 18px;
    color: #fbaf32;
}

.contact-social i img{
	width:20px;
    height:30px;
}
.contact .contact-social a:hover {
    color: #719a0a;
}

.contact .contact-form iframe {
    width: 100%;
    height: 380px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.contact .contact-form input {
    padding: 15px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .contact-form textarea {
    height: 150px;
    padding: 8px 15px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: rgba(0, 0, 0, .04);
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #454545;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #fbaf32;
}

.footer .footer-contact h2::after,
.footer .footer-link h2::after,
.footer .footer-newsletter h2::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #719a0a;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #454545;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #fbaf32;
}

.footer .footer-link a:hover {
    color: #fbaf32;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
    color: #fbaf32;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
    display: flex;
}

.footer .footer-social a {
    display: inline-block;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbaf32;
    border-radius: 35px;
    font-size: 16px;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: #719a0a;
}

.footer .footer-social a:last-child {
    margin: 0;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    height: 60px;
    background: transparent;
    border: 1px solid #fbaf32;
    border-radius: 5px;
}

.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 700;
}
.footer-social i img{
	width:20px;
    height:30px;
}
.footer .copyright {
    position: relative;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background: #ffffff;
}

.footer .copyright p {
    margin: 0;
    display: inline-block;
    color: #454545;
}

.footer .copyright p a {
    color: #fbaf32;
}

.footer .copyright p a:hover {
    color: #719a0a;
}
